@import '../variables';

.home--container {
  width: 25vw;
  height: 20vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 20vh auto;
  background-color: #eee;
  @media(max-width: 700px) {
    width: 80vw;
    height: 35vh;
  }
}

.home--createRoute, .home--useRoute {
  width: 100%;
  height: 60%;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.home--createRoute {
  background-color: $primaryColor;
}
.home--useRoute {
  background-color: #333;
}

.home--tittle {
  width: 100%;
  margin-top: 50px;
  padding: 0px 10px;
  font-size: 7pt;
  display: flex;
  justify-content: center;
  background-color: $primaryColor;
  background-image: linear-gradient($primaryColor, #eee);
  color: rgb(45, 41, 54);
}