@import '../variables';

.adm--search {
  width: 100%;
  margin-top: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 50%;
    height: 40px;
    border: 1px solid $primaryColor;
    border-radius: 4px;
  }
  button {
    font-size: 12pt;
    width: 100px;
    height: 40px;
    line-height: 10px;
  }
  select {
    height: 40px;
    border: 1px solid $primaryColor;
    border-radius: 4px;
  }
}

.adm--searchedUsers {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  table {
    width: 95%;
  }
}

.adm--userForm {
  width: 100%;
  height: 60%;
  // background-color: black;
}