@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif
}
body {
  background-color: #eee;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

button {
  border: none;
  border-radius: 6px;
  padding: 15px;
  background-color: $primaryColor;
  color: white;
  margin: 5px;
  cursor: pointer;
}
table {
  font-size: 10pt;
  border-collapse: collapse;
}
thead {
  background-color: $primaryColor;
  color: white;
}
th {
  max-width: 30vw;
  min-width: 8vw;
  border: 2px solid #333;
  border-radius: 3px;
  padding: 10px 5px;
  overflow: hidden;
}
td {
  max-width: 30vw;
  min-width: 8vw;
  border: 2px solid #333;
  border-radius: 3px;
  padding: 10px 5px;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  tr {
    transition: all ease 0.1s;
  }
}